body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    padding: 0 150px 0 150px;
}

.nav-bar {
    margin: 20px 0 0 0;
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 600;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
}

.site-greeting {

    margin: 100px 0;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.big-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.smaller-text {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    font-size: 18px;
    color: #F9FAF8;
    border-radius: 0.35em;
    padding: 6px 20px;
    width: 130px;
}


.intro-text {
    display: flex;
    flex-direction: column;
    gap: 7px;
    width: 45%
}


.site-greeting-image {
    flex: 1;
    margin-left: 40px;
    max-width: 600px;
    max-height: 337.5px;
}

.site-greeting-image img {

    width: 100%;
    height: 250px;
}

.random-information {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    padding: 30px 200px 100px 200px;
    align-items: center;
    flex: 1;
}

.information-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.tiles {
    display: flex;
    gap: 30px;
}

.tile {
    max-width: 300px;
    max-height: 300px;
    text-align: center;
}

.tile img {
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 1rem;
}

.inspiring-quote {
    background-color: #E5E7EB;
    padding: 70px 220px;
    display: flex;
    flex-direction: column;
    flex: 1;

}

.actual-quote {
    font-size: 36px;
    font-weight: 350;
    font-style: italic;
    color: #1F2937;

}

.quote-author {
    text-align: right;
    font-weight: bold;
    font-size: 18px;
}

.call-to-action {
    background-color: #3882F6;
    margin: 100px 200px 100px 200px;
    padding: 50px 100px 50px 100px;
    border-radius: 0.4em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.cta-text {
    display: flex;
    flex-direction: column;
    color: #F9FAF8;
}

.cta-main {
    font-size: 24px;
    font-weight: bold;
}

.cta-sub{
    font-size: 16px;
}

.call-to-action button{
    border: 2px solid #F9FAF8;
}

.footer {
    height: 72px;
    background-color: #1F2937;
    color:#F9FAF8;
    display: flex;
    align-items: center;
    justify-content: center;
  }